<!-- <h1>ngIf</h1>

<p *ngIf="displayName">{{name}}</p>
<button (click)="toggleNameDisplay()">Toggle Name</button>

<h1>ngFor</h1>
<ul>
    <li *ngFor="let student of students">{{student}}</li>
</ul>
<h1>ngSwitch</h1>

<ul *ngFor="let user of users"
    [ngSwitch]="user.role">

  <li *ngSwitchCase="'ADMIN'"
      class="green">{{ user.name }}
  </li>
  <li *ngSwitchCase="'DEV'"
      class="blue">{{ user.name }}
  </li>
</ul> -->

<!-- <app-ngif-detail></app-ngif-detail> -->
<app-ngfor-detail></app-ngfor-detail>