<h1>Built In Directives</h1>
<h3>ngIf</h3>

<p *ngIf="displayName">{{name}}</p>
<button (click)="toggleNameDisplay()">Toggle Name</button>

<h3>ngFor</h3>
<ul>
    <li *ngFor="let student of students">{{student}}</li>
</ul>

<h3>ngSwitch</h3>

<ul *ngFor="let user of users"
    [ngSwitch]="user.role">

  <li *ngSwitchCase="'ADMIN'"
      class="green">{{ user.name }}
  </li>
  <li *ngSwitchCase="'DEV'"
      class="blue">{{ user.name }}
  </li>
</ul>

<h1>ngIf - Else</h1>
<app-ngif-detail></app-ngif-detail>

<h1>ngFor in detail</h1>
<app-ngfor-detail></app-ngfor-detail>